<launch>
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="scene" default="scene_a" />
  <arg name="air_backend" default="ideal" />
  <arg name="world_name" default="$(find rescue_worlds)/worlds/disaster_$(arg scene).world" />
  <arg name="model" default="$(find uav_v4)/urdf/uav_v4.urdf" />
  <arg name="model_format" default="-urdf" />

  <env name="GAZEBO_MODEL_PATH"
       value="$(optenv CATKIN_WS /workspace/ros_ws)/src:$(optenv CATKIN_WS /workspace/ros_ws)/src/rotors_simulator/rotors_gazebo/models:$(optenv GAZEBO_MODEL_PATH)" />
  <env name="GAZEBO_PLUGIN_PATH"
       value="$(optenv CATKIN_WS /workspace/ros_ws)/devel/lib:/opt/ros/noetic/lib:$(optenv GAZEBO_PLUGIN_PATH)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <node name="spawn_uav_v4" pkg="gazebo_ros" type="spawn_model"
        args="-file $(arg model) $(arg model_format) -model uav_v4 -x 0 -y 0 -z 0.15"
        unless="$(eval arg('air_backend') == 'rotors')"
        output="screen" />

  <param name="uav_v4_rotors_description"
         command="$(find xacro)/xacro '$(find uav_v4)/urdf/uav_v4_rotors_native.urdf.xacro' ground_structure:=true ground_plugin:=true"
         if="$(eval arg('air_backend') == 'rotors')" />
  <node name="spawn_uav_v4" pkg="gazebo_ros" type="spawn_model"
        args="-param uav_v4_rotors_description -urdf -model uav_v4 -x 0 -y 0 -z 0.15"
        if="$(eval arg('air_backend') == 'rotors')"
        output="screen" />
</launch>
