<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="uav_v4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0027205 3.1868E-05 0.016326"
        rpy="0 0 0" />
      <mass
        value="2.2782" />
      <inertia
        ixx="0.0010088"
        ixy="-1.2793E-06"
        ixz="5.9514E-06"
        iyy="0.00068372"
        iyz="7.939E-06"
        izz="0.0014123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel1_link">
    <inertial>
      <origin
        xyz="-6.9389E-16 0.015781 -6.7654E-17"
        rpy="0 0 0" />
      <mass
        value="0.037807" />
      <inertia
        ixx="4.513E-06"
        ixy="-1.3835E-21"
        ixz="-1.7984E-20"
        iyy="5.9992E-06"
        iyz="-1.2662E-21"
        izz="4.513E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel1_joint"
    type="continuous">
    <origin
      xyz="0.04 -0.088 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel1_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel2_link">
    <inertial>
      <origin
        xyz="0 0.015781 -3.4521E-16"
        rpy="0 0 0" />
      <mass
        value="0.037807" />
      <inertia
        ixx="4.513E-06"
        ixy="-1.3736E-21"
        ixz="-1.8352E-20"
        iyy="5.9992E-06"
        iyz="-1.5042E-21"
        izz="4.513E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel2_joint"
    type="continuous">
    <origin
      xyz="-0.04 -0.088 -0.015"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel2_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel3_link">
    <inertial>
      <origin
        xyz="-4.996E-16 -0.015781 2.8103E-16"
        rpy="0 0 0" />
      <mass
        value="0.037807" />
      <inertia
        ixx="4.513E-06"
        ixy="1.4366E-21"
        ixz="1.0591E-20"
        iyy="5.9992E-06"
        iyz="-7.4952E-22"
        izz="4.513E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel3_joint"
    type="continuous">
    <origin
      xyz="0.0400000000000004 0.088 -0.0150000000000005"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel3_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="wheel4_link">
    <inertial>
      <origin
        xyz="-8.9512E-16 -0.015719 1.7521E-16"
        rpy="0 0 0" />
      <mass
        value="0.037807" />
      <inertia
        ixx="4.513E-06"
        ixy="6.0908E-23"
        ixz="1.5908E-20"
        iyy="5.9992E-06"
        iyz="-2.0557E-21"
        izz="4.513E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wheel4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel4_joint"
    type="continuous">
    <origin
      xyz="-0.0399999999999994 0.088 -0.0150000000000003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel4_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="arm1_link">
    <inertial>
      <origin
        xyz="0.029359 -0.029033 0.001856"
        rpy="0 0 0" />
      <mass
        value="0.010108" />
      <inertia
        ixx="3.6495E-06"
        ixy="3.4138E-06"
        ixz="-5.9984E-21"
        iyy="3.7257E-06"
        iyz="6.5036E-21"
        izz="7.3601E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm1_joint"
    type="revolute">
    <origin
      xyz="0.0475 -0.0455 0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm1_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="wing1_link">
    <inertial>
      <origin
        xyz="-0.00012069 6.7575E-05 -0.015469"
        rpy="0 0 0" />
      <mass
        value="0.14356" />
      <inertia
        ixx="1.0711E-05"
        ixy="3.8436E-10"
        ixz="-7.0473E-12"
        iyy="1.0711E-05"
        iyz="7.1694E-11"
        izz="1.5206E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wing1_joint"
    type="continuous">
    <origin
      xyz="0.057004 -0.05632 0.0293"
      rpy="0 0 0" />
    <parent
      link="arm1_link" />
    <child
      link="wing1_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="arm2_link">
    <inertial>
      <origin
        xyz="-0.0292962581830913 0.0289714060323844 0.00185602485905342"
        rpy="0 0 0" />
      <mass
        value="0.0101076088045098" />
      <inertia
        ixx="3.64954032673343E-06"
        ixy="3.41381876615257E-06"
        ixz="-1.77688991786571E-21"
        iyy="3.72567317704808E-06"
        iyz="2.36511102283099E-21"
        izz="7.36005209057475E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm2_joint"
    type="revolute">
    <origin
      xyz="-0.0475 0.0455 0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm2_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="wing2_link">
    <inertial>
      <origin
        xyz="-0.00013824 -3.4396E-06 -0.015469"
        rpy="0 0 0" />
      <mass
        value="0.14356" />
      <inertia
        ixx="1.0711E-05"
        ixy="-2.2212E-10"
        ixz="-2.8595E-11"
        iyy="1.0711E-05"
        iyz="-9.5706E-11"
        izz="1.5206E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wing2_joint"
    type="continuous">
    <origin
      xyz="-0.056745 0.056256 0.0293"
      rpy="0 0 0" />
    <parent
      link="arm2_link" />
    <child
      link="wing2_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="arm3_link">
    <inertial>
      <origin
        xyz="0.029033 0.029359 0.001856"
        rpy="0 0 0" />
      <mass
        value="0.010108" />
      <inertia
        ixx="3.7257E-06"
        ixy="-3.4138E-06"
        ixz="8.2237E-21"
        iyy="3.6495E-06"
        iyz="8.7612E-21"
        izz="7.3601E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm3_joint"
    type="revolute">
    <origin
      xyz="0.0475 0.0455 0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="wing3_link">
    <inertial>
      <origin
        xyz="0.00013284 3.9015E-05 -0.015469"
        rpy="0 0 0" />
      <mass
        value="0.14356" />
      <inertia
        ixx="1.0711E-05"
        ixy="9.743E-11"
        ixz="8.2675E-13"
        iyy="1.071E-05"
        iyz="-1.3698E-10"
        izz="1.5205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wing3_joint"
    type="continuous">
    <origin
      xyz="0.0561194409149738 0.0568442905237558 0.0293000000000069"
      rpy="0 0 0" />
    <parent
      link="arm3_link" />
    <child
      link="wing3_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="arm4_link">
    <inertial>
      <origin
        xyz="-0.029033 -0.029359 0.001856"
        rpy="0 0 0" />
      <mass
        value="0.010108" />
      <inertia
        ixx="3.7257E-06"
        ixy="-3.4138E-06"
        ixz="3.5619E-21"
        iyy="3.6495E-06"
        iyz="3.8509E-21"
        izz="7.3601E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/arm4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm4_joint"
    type="revolute">
    <origin
      xyz="-0.0475 -0.0455 0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm4_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="wing4_link">
    <inertial>
      <origin
        xyz="-8.3369E-05 0.00011068 -0.015469"
        rpy="0 0 0" />
      <mass
        value="0.14356" />
      <inertia
        ixx="1.0711E-05"
        ixy="-2.2056E-10"
        ixz="-5.3232E-12"
        iyy="1.0711E-05"
        iyz="-1.1229E-10"
        izz="1.5206E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.85" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uav_v4/meshes/wing4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wing4_joint"
    type="continuous">
    <origin
      xyz="-0.056169 -0.056994 0.0293"
      rpy="0 0 0" />
    <parent
      link="arm4_link" />
    <child
      link="wing4_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <gazebo>
    <plugin name="mecanum_phase1_planar_move" filename="libgazebo_ros_planar_move.so">
      <commandTopic>/mecanum/cmd_vel</commandTopic>
      <odometryTopic>/odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>50.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
    </plugin>
  </gazebo>

</robot>
